<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/security/ http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
       
      <context:annotation-config />	
       
      <aop:config proxy-target-class="true"/>
  	
	  <tx:annotation-driven transaction-manager="txManager" />
	  
	  
	  <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
	  		<property name="dataSource" ref="dataSource"/>
	  </bean>

	<bean id="testUserService" class="edu.mum.service.TestUserService" />
	<bean id="testUserDAO" class="edu.mum.dao.TestUserDAO" />

	
	<bean id="userService" class="edu.mum.customer.service.UserService" />
	<bean id="userDao" class="edu.mum.customer.dao.UserDao" />
	
	<bean id="productService" class="edu.mum.product.service.ProductService" />
	<bean id="productDAO"     class="edu.mum.product.dao.ProductDAO" />
	
	<bean id="reviewService" class="edu.mum.review.service.ReviewService"/>
	<bean id="reviewDao" class="edu.mum.review.dao.ReviewDao"/>
	
<!-- 	<bean id="order" class="edu.mum.product.domain.Order"/> -->
	
	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties" ref="hibernateProperties" />
		<!-- OR mapping files. -->
		<property name="packagesToScan" value="edu.mum" />
	</bean>

	<!-- the datasource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/virtualstoredb" />
		<property name="username" value="virtualstoreuser" />
		<property name="password" value="password" />
	</bean>

	<!-- hibernate Properties -->
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="connection.pool_size">1</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
  	
	
</beans>